:root {
    /* Primary Color */
    --primary-color: #4a6fa5;

    /* Background Colors */
    --background-primary:white;
    --background-light: #f0f0f0;
    --background-secondary: #f8f9fa;
    --background-message-system: #fff7cd;
    --background-message-content: #ffffff;
    --background-reply-to: #f1f3f5;
    --background-message-received: #e9ecef;
    --background-reaction-hover: #e4e6e9;
    --background-pinned-message:#c1cad2;

    /* Text Colors */
    --text-primary: white;
    --text-secondary: #333;
    --text-tertiary: #666;
    --text-quaternary: #6c757d;
    --text-message-pinned: #333;
    --text-file-box: #2c2c2c;
    --text-cancel-reply-hover: #495057;

    /* Border Colors */
    --border-light: #ced4da;
    --border-form: #dee2e6;
    --border-table: #ddd;
    --border-pinned-messages: darkgrey;
    --border-blockquote: #ccc;

    /* Hover Colors */
    --hover-primary: #3a5a8c;
    --hover-toolbar: #dae5f1;
    --hover-reply-to: var(--background-message-received);
    --hover-search-result: var(--background-secondary);
}

.darkmode {
    /* Primary Color */
    --primary-color: #1a2740; /* Complementary to #4a6fa5 */

    /* Background Colors */
    --background-primary:#2e2b2b;
    --background-light: #232337; /* Complementary to #f0f0f0 */
    --background-secondary: #25252f; /* Complementary to #f8f9fa */
    --background-message-system: #052339; /* Complementary to #fff7cd */
    --background-message-content: #000000; /* Complementary to #ffffff */
    --background-reply-to: #0e0e0e; /* Complementary to #f1f3f5 */
    --background-message-received: #161616; /* Complementary to #e9ecef */
    --background-reaction-hover: #1a1a1a; /* Complementary to #e4e6e9 */
    --background-pinned-message:#6c778b;

    /* Text Colors */
    /*#5d5d5d*/
    --text-primary: #e5e5d8; /* Complementary to white */
    --text-secondary: #c7c7c7; /* Complementary to #333 #c7c7c7 */
    --text-tertiary: #999999; /* #999 */
    --text-quaternary: #919191; /* Complementary to #6c757d */
    --text-message-pinned: #dedddd;
    --text-file-box: #d3d3d3; /* Complementary to #2c2c2c */
    --text-cancel-reply-hover: #aab0b5; /* Complementary to #495057 */

    /* Border Colors */
    --border-light: #2d2d2d; /* Complementary to #ced4da */
    --border-form: #cddc39; /* Complementary to #dee2e6 */
    --border-table: #222; /* Complementary to #ddd */
    --border-pinned-messages: #cddc39 ; /* Complementary to darkgrey */
    --border-blockquote: #333; /* Complementary to #ccc */

    /* Hover Colors */
    --hover-primary: #b67a60; /* Complementary to #3a5a8c */
    --hover-toolbar: #242d1d; /* Complementary to #dae5f1 */
    --hover-reply-to: #161616; /* Complementary to var(--background-message-received) */
    --hover-search-result: #4d4d4d ; /* Complementary to var(--background-secondary) */
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--background-light);
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.titlebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--text-primary);
    padding: 10px 20px;
}

.titlebar h1 {
    margin: 0;
    font-size: 1.5em;
}

#theme-switch{
    height: 30px;
    width: 30px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--background-light);
}

#theme-switch i{
    color: var(--text-secondary);
}

#theme-switch i:last-child{
    display: none;
}

.darkmode #theme-switch i:last-child{
    display: block;
}

.darkmode #theme-switch i:first-child{
    display: none;
}

.chat-main {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
}

.messages-container {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    background-color: var(--background-primary);
}

.flex-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.pin-header {
    display: inline-block;
    margin: 0;
}

.collapse-pins {
    transition: transform 1s;
    padding-block: 1px;
    padding-inline: 6px;
    float: right;
}

.flipped-btn {
    transform: rotate(180deg);
}

.pinned-messages-container {
    position: relative;
    top: 0;
    padding: 20px;
    padding-top: 10px;
    font-size: 1rem;
    border-bottom: 1px solid var(--border-pinned-messages);
    color:var(--text-message-pinned);
}

.pinned-messages {
    transition: max-height 0.5s, padding 0.5s;
}

.collapsed {
    max-height: 0;
    overflow: hidden;
}

.expanded {
    max-height: 120px;
    padding: 20px 30px 0px 30px;
    overflow-y: auto;
}

.unpin {
    display: inline-block;
    cursor: pointer;
    margin: 0 5px 0 10px;
    padding-block: 1px;
    padding-inline: 6px;
}

.sidebar {
    width: 250px;
    background-color: var(--background-secondary);
    padding: 20px;
    overflow-y: auto;
    color: var(--text-secondary);
}

.sidebar textarea {
    width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid var(--border-light);
    border-radius: 5px;
    font-size: 1em;
    margin-bottom: 10px;
    resize: none;
    font-family: 'Roboto', sans-serif;
}

#messages {
    display: flex;
    flex-direction: column;
}

.message, .pin {
    max-width: 70%;
    margin-bottom: 20px;
    padding: 5px 10px;
    border-radius: 20px;
    word-wrap: break-word;
    position: relative;
    background-color: var(--background-pinned-message);
}

.message-toolbar {
    position: absolute;
    top: -25px;
    right: 0;
    display: none;
    background-color: var(--background-secondary);
    border-radius: 5px;
    padding: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.message-toolbar button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 2px 5px;
    color: var(--text-quaternary);
}

.message-toolbar button:hover {
    color: var(--hover-toolbar);
}

.reply-to {
    font-size: 0.8em;
    color: var(--text-quaternary);
    margin-bottom: 5px;
    padding: 5px 10px;
    background-color: var(--background-reply-to);
    border-radius: 15px;
    cursor: pointer;
}

.reply-to:hover {
    background-color: var(--hover-reply-to);
}

#reply-preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-message-received);
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#cancel-reply {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-quaternary);
}

#cancel-reply:hover {
    color: var(--text-cancel-reply-hover);
}

.highlight {
    animation: highlightAnimation 1s;
}

.mentioned {
    box-shadow: 0 0 15px #4a6fa5;
}

@keyframes highlightAnimation {
    0% {
        box-shadow: 0 0 20px var(--primary-color);
    }
    25% {
        box-shadow: 0 0 0 var(--primary-color);
    }
    50% {
        box-shadow: 0 0 20px var(--primary-color);
    }
    100% {
        box-shadow: 0 0 0 var(--primary-color);
    }
}

/* Add these styles for markdown elements */
.message-content {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.message-content h1,
.message-content h2,
.message-content h3,
.message-content h4,
.message-content h5,
.message-content h6 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.message-content p {
    margin: 0.5em 0;
}

.message-content ul,
.message-content ol {
    padding-left: 1.5em;
    margin-bottom: 0.5em;
}

.message-content pre {
    background-color: var(--text-file-box);
    padding: 0.5em;
    border-radius: 4px;
    overflow-x: auto;
}

.message-content code {
    background-color: #2f2f2f;
    padding: 0.2em 0.4em;
    border-radius: 3px;
}

.message-content blockquote {
    border-left: 3px solid var(--border-blockquote);
    margin: 0.5em 0;
    padding-left: 1em;
    color: var(--background-message-content);
}

.message-content table {
    border-collapse: collapse;
    margin-bottom: 0.5em;
}

.message-content th,
.message-content td {
    border: 1px solid var(--border-table);
    padding: 0.3em 0.6em;
}

.message-content img {
    max-width: 300px;
    border-radius: 10px;
}

.message .username, .pin .username {
    position: absolute;
    top: -20px;
    font-size: 0.8em;
    color: var(--text-tertiary);
}

.message.sent {
    align-self: flex-end;
    background-color: var(--background-message-received);
    color: var(--text-secondary);
}

.message.sent .username {
    right: 10px;
}

.message.received {
    align-self: flex-start;
    background-color: var(--background-message-received);
    color: var(--text-secondary);
}

.message.received .username {
    left: 10px;
}

.message.system-message {
    background-color: var(--background-message-system);
    align-items: center;
    justify-content: center;
    color: var(--text-secondary);
}


#message-form {
    display: flex;
    padding: 20px;
    background-color: var(--background-primary);
    border-top: 1px solid var(--border-form);
    align-items: flex-end;
}

#message-input {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid var(--border-light);
    border-radius: 15px;
    font-size: 1em;
    margin-right: 10px;
    resize: none;
    min-height: 5px;
    height: 19px;
    max-height: 200px;
    overflow-y: auto;
    font-family: 'Roboto', sans-serif;
}

.image-upload-label {
    cursor: pointer;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--text-primary);
    border-radius: 15px;
    margin-right: 10px;
}

.image-upload-label:hover {
    background-color: var(--hover-primary);
}

button {
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: var(--text-primary);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background-color: var(--hover-primary);
}

#toggle-invite-link {
    margin-top: 10px;
    font-size: 0.9em;
    padding: 5px 10px;
}

#users-list {
    list-style-type: none;
    padding: 0;
}

#users-list li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.online-indicator {
    width: 10px;
    height: 10px;
    background-color: #28a745;
    border-radius: 50%;
    margin-right: 10px;
}

.kick-button {
    margin-left: auto;
    padding: 2px 5px;
    font-size: 0.8em;
    background-color: #dc3545;
}

.kick-button:hover {
    background-color: #bd2130;
}

.file-box {
    display: flex;
    align-items: center;
    background-color: #f1f3f4;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    color: var(--text-file-box);
}

.file-box i {
    margin-right: 10px;
    font-size: 1.2em;
}

.file-box span {
    flex-grow: 1;
    margin-right: 10px;
    word-break: break-all;
}

.download-btn {
    background-color: var(--primary-color);
    color: var(--text-primary);
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 0.9em;
}

.download-btn:hover {
    background-color: var(--hover-primary);
}

.file-upload-label {
    cursor: pointer;
    padding: 10px;
    background-color: var(--primary-color);
    color: var(--text-primary);
    border-radius: 5px;
    margin-right: 10px;
}

.file-upload-label:hover {
    background-color: var(--hover-primary);
}

.reactions-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.reaction {
    background-color: #f0f2f5;
    border-radius: 10px;
    padding: 2px 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 0.9em;
    cursor: pointer;
    color: var(--text-quaternary);
}

.reaction:hover {
    background-color: var(--background-reaction-hover);
}

.reaction.user-reacted {
    background-color: #e3f2fd;
    border: 1px solid #2196f3;
}

#banned-list {
    list-style-type: none;
    padding: 0;
}

#banned-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

#banned-list button {
    font-size: 0.8em;
    padding: 2px 5px;
}

.search-container {
    display: flex;
    align-items: center;
    margin: 0 20px;
}

#search-input {
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    font-size: 14px;
    width: 200px;
}

#search-button {
    background: none;
    border: none;
    color: var(--text-primary);
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
}

.search-results {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    background-color: var(--background-primary);
    border-bottom: 1px solid var(--border-form);
    max-height: 300px;
    overflow-y: auto;
    z-index: 1000;
}

.search-result-item {
    padding: 10px 20px;
    border-bottom: 1px solid var(--background-light);
    cursor: pointer;
}

.search-result-item:hover {
    background-color: var(--hover-search-result);
}

.search-result-item .username {
    font-weight: bold;
    margin-right: 10px;
}

.search-result-item .timestamp {
    color: var(--text-quaternary);
    font-size: 0.8em;
}

.search-result-item .content {
    margin-top: 5px;
}

#typing-indicator {
    display: none;
    padding: 10px;
    background-color: var(--background-secondary);
    color: var(--text-quaternary);
}

#user-picker {
    max-width: fit-content;
    max-height: 120px;
    overflow-y: auto;
    padding: 4px;
    background-color: #f8f9fa;
    position: absolute;
    left: 30px;
    bottom: 100px;
    z-index: 10;
    border: 1px solid #e9ecef;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
}

#user-picker p {
    margin: 0;
    padding: 8px 6px 8px 6px;
}

#user-picker p:hover {
    background-color: #e9ecef;
    cursor: pointer;
}

@media (max-width: 940px){
    
    .titlebar {
	    flex-direction: column;
    }
}

@media (max-width: 660px){
    
    #search-button{
        margin-left: 0;
    }

    .search-container, .titlebar h1{
        margin-bottom: 10px;
    }

    .message-content p {
	    margin: 0.1em 0;
    }
 
    .sidebar {
    	width: 187px;
    	background-color: var(--background-secondary);
    	padding: 4px;
	    overflow-y: auto;
        height: 20vh;
    }
}

@media (max-width: 530px){
    button {
        padding: 5px 6px;
    }
}

@media(max-width: 450px){
    #room-options button span {
        display: none;
    }

    .chat-main {
	    display: flex;
        flex-direction: column;
    }

    .sidebar {
        width: auto;
        order: 1;
    }

    .flex-container {
        order: 2;
        height: 160px;
    }
}
